


/* Body Styles */


body {
    margin: 0;
    padding: 0;

    height: 100vh;

    font-family: 'Montserrat', sans-serif;

    background-color: var(--black);
}



/* Navbar Styles */


.navbar {
    background-color: var(--black);
    border-bottom: 0.5rem solid var(--light-blue);
}

.brand-link {
    text-decoration: none;
    color: var(--light-gray);
    font-size: 2.5rem;
    margin-left: 4rem;
}

.nav-link {
    color: var(--light-gray);
    border-bottom: 3px solid transparent;
    border-bottom-width: 60%;
    margin-top: 0.25rem;
}

.nav-link:active {
    color: var(--darker-blue);
    border-bottom: 3px solid var(--light-blue);
}

.nav-link:hover {
    color: var(--light-blue);
    border-bottom: 3px solid var(--light-blue);
}

.nav-main-items {
    position: absolute;
    left: 32.341666666666%;
    width: fit-content;
    background-color: var(---black);
}

.nav-forms {
    position: absolute;
    left: 82vw;
}

.user-profile-nav {
    position: absolute;

    right: 0;
    margin-left: 4rem;
}

.user-profile-button {
    width: 7rem;
}

ul.dropdown-menu.user-dropdown.show  {
    --bs-dropdown-min-width: 0;
    left: 0;
    text-align: center;
}

.navbar-toggler {
    color: transparent;
    border: none;
}

.btn-primary {
    background-color: var(--darker-blue);
}
.btn-light {
    background-color: var(--light-gray);
}

.inner-nav-form {
    margin-right: 0.5rem;
}


@media screen and (max-width: 991px) {
    .navbar-nav {
        position: relative;
        left: 0;
        background-color: var(--black);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-link, .nav-link:hover {
        border-bottom: none;
    }
    .brand-link {
        margin-left: 0;
    }
    .collapsed-item {
        display: block;
    }
    .nav-forms {
        display: none;
    }
}

@media screen and (max-width: 1189px) and (min-width: 992px) {
    .nav-main-items {
        left: 25%;
    }
    .brand-link {
        margin-left: 2rem;
    }
    .nav-forms {
        left: 80vw;
    }
}

@media screen and (min-width: 992px) {
    .collapsed-item {
        display: none;
    }
}



/* Title Section Styles */


.title-container {
    color: white;
    position: relative;
    margin-top: 6rem;
    text-align: center;
}

.welcome-text {
    font-size: 2.75rem;
    line-height: 2;
}

.btn {
    border-radius: 40px;
}

.log-in-alt {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.btn-title-section {
    margin-top: 2rem;
}

.btn-sm {
    line-height: 1.25;
}

.btn-dark {
    background-color: var(--black);
}

@media screen and (max-width : 991px) {
    .welcome-text {
        font-size: 2rem;
    }
}



/* Sign up page Styles */


.signup-body {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--black);
}

.account-type {
    width: 100%;
    height: 3rem;
    border: none;
}

.account-option {
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="text"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.signup-title, .brand {
    color: var(--light-gray);
    padding-bottom: 1rem;
}

.brand {
    font-size: 3rem;
}

.last {
    margin-bottom: 2rem;
}

.copyright {
    margin-top: 2rem;
    color: white;
}

.err-message {
    position: relative;
}

#login-success-message {
    position: absolute;
    bottom: 0;
}



/* Profile Page Styles */


#profile-section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 60%;
    background-color: white;
    border-radius: 2rem;
}

.user-account-type {
    padding-top: 3rem;
}

.user-full-name {
    padding-top: 2rem;
}

.account-details {
    text-align: left;
    margin-left: 3rem;
    margin-top: 3rem;
}

.account-details-title {
    padding-bottom: 2rem;
}

.profile-forms {
    margin-top: 3rem;
    text-align: left;
    margin-left: 3rem;
    padding-bottom: 3rem;
}

.cv-button {
    border-radius: 2rem;
}



/* Job-Post Page Styles */


.job-post-container {
    width: 60%;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.form-floating-job-post {
    border-radius: 0;
}

.job-post-container #floatingInput {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.first-job-detail {
    padding-top: 0;
}

.section-title-container {
    width: 100%;
    text-align: center;
    background-color: var(--darker-blue);
    border-radius: 2rem 2rem 0 0;
    padding: 0.75rem;
}

.section-title {
    color: white;
    margin-bottom: 0;
    font-size: 2rem;
}

#floatingTextArea {
    height: 12rem;
    padding-top: 2.5rem;
    font-size: 0.85rem;
}

.job-post-form-buttons {
    display: flex;
    padding-bottom: 3rem;
}

.btn-preview-job {
    border-radius: 0 0 0 2rem;
    width: 33.333333%;
    height: 3rem;
}

.btn-save-job {
    border-radius: 0;
    width: 33.333333%;
}

.btn-submit-job {
    border-radius: 0 0 2rem 0;
    width: 33.333333%;
    height: 3rem;
}



/* Student Jobs Styles */


.floating-jobs {
    position: relative;
    text-align: left;

    color: black;
    width: 70%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;

}

.floating-job {
    padding: 2rem 2rem 4rem 2rem;
    background-color: var(--light-blue);
    border-radius: 1rem;
    position: relative;
}

.apply-btn {
    position: absolute;
    right: 1rem;
}

.floating-job {
    margin-bottom: 3rem;
}

.job-section {
    font-weight: bolder;
}